/*
* {
    border: 2px solid red;
}
*/
#Logo {
    height: 70px;
    float: left;
}

.Image {
    height: 100px;
}

.title {
    font-weight: bold;
    font-size: medium;
    margin-left: 20px;
}

.text {
    margin-left: 30px;
    font-size: small
}